

<div class="index-img", align=center >
  <h1><strong>LET DATA GUIDE YOU</strong></h1>
  <%= image_tag("meeting.jpeg")%>
  <br/>
  <br/>
  <p><%= link_to "Register", new_user_registration_path, :class => 'navbar-link' %> your site today and start collecting data.</p>  
</div>
